/*

.nav{
    display: flex;
    gap : 25px;
}


.eachlink{
    font-size: large;
}

.eachlink{
    margin: 20px;
    text-decoration: none;
}

.diff_nav{
    padding: 20px;
    border-bottom: 1px solid grey;

    margin: 0px 100px;
}*/